<%- include("partials/header.ejs") %>



<div class="container" style="margin-top: 50px;">

    <h3>About me</h3>
    <div class="coverphoto"  >
<img src="/images/me.jpg" alt="author image" style="width:400px;height: auto !important;margin: 5px 0px 60px 0px; " >
</div>
<h4><b>I am Joshua Homo! </b></h4>
<h6> <i> Sometimes I have a Passion For, Good Books</i></h6>
<p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa unde eveniet rem dolorum at repellat mollitia aspernatur placeat adipisci alias obcaecati, a inventore sequi officia et, maxime ipsum magnam nam?
Sequi, nihil, corporis laborum atque, minus dolor eligendi nesciunt excepturi nobis tenetur vel animi amet cupiditate porro sit deserunt debitis consequatur praesentium mollitia dolorem accusamus expedita. Cupiditate nesciunt praesentium consequuntur?
Ab beatae tempore rem expedita id nihil accusantium, quae quis sapiente placeat commodi debitis quod consectetur modi illum obcaecati inventore in ea doloremque facere totam saepe quia accusamus. A, quod.
Accusamus quo eius, illo minima voluptate atque maiores corrupti amet architecto excepturi rem, voluptatum quis officiis. Vero sint optio libero deserunt ad nostrum suscipit, unde corrupti non, adipisci magni quae!
Et facilis aspernatur quo eos. Vero vel dolore perferendis delectus, molestiae officia quaerat deserunt nisi, accusantium corporis placeat eos sequi odio culpa ducimus maiores dignissimos sed. Earum quae ipsam omnis.
Asperiores incidunt quas ab eveniet culpa sint a optio, odio corrupti vel eos nisi quia eum earum debitis consequuntur pariatur soluta. Unde hic eveniet delectus sit dolorum vel reiciendis nihil?</p>


</div>











<%- include("partials/footer.ejs") %>