<%- include("partials/header.ejs") %>



<div class="container d-flex justify-content-center " style="margin-top: 50px;"  >
    <div class="row">
        <div class="col-lg-4 col-sm-12 cover d-flex justify-content-center">
            <img src="https://covers.openlibrary.org/b/isbn/0385472579-L.jpg" alt="book alchemist" style="height: auto;width: 250px;max-height: 300px;margin-bottom: 25px;" >
        </div>
        <div class="col-lg-8 col-sm-12 detail ">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ipsam ad at modi porro accusantium ullam dolores explicabo commodi hic eos reiciendis illo non delectus pariatur corrupti nemo consectetur! Commodi?
            Unde explicabo at dolorem dolor quidem reprehenderit debitis. Saepe laborum libero dolore. Soluta delectus ea commodi ut ullam sit veniam incidunt eos suscipit tempore deserunt corporis, atque, obcaecati minima assumenda.</p>
        </div>
        <div class="col-lg-12 col-sm-12 notes ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maiores quasi expedita, velit, eum at, quas magni amet laborum voluptatem commodi? Libero, deserunt. Reiciendis ratione saepe esse soluta. Necessitatibus, ullam.
            Aliquid ratione deserunt alias provident. Quae numquam quis explicabo tempore praesentium cumque, eaque aperiam perferendis porro laboriosam nemo doloribus ex ipsa hic reiciendis id, error perspiciatis, quos vel! Laboriosam, quos.
            At ipsa aspernatur ab velit sapiente repellendus, alias ullam sunt ex deserunt vitae hic inventore neque suscipit natus facilis quis adipisci. Id iusto omnis veritatis animi amet? Dolores, repudiandae ipsum.
            Similique eos in, quos modi voluptate reprehenderit odio molestias, maiores culpa excepturi numquam dignissimos fuga illo ducimus ipsum! Iste fugiat nesciunt quae nam incidunt! Praesentium amet vero illum libero nesciunt.
            Ipsam minima, corrupti aliquid delectus voluptates facilis et quibusdam magni laborum, facere doloremque dolorem. Hic omnis iusto porro maxime. Enim tempora eligendi molestiae officia expedita pariatur libero, maxime at optio!
            Sequi accusamus temporibus voluptatem eveniet blanditiis libero cum dolorum ea amet nam quae distinctio placeat expedita, iure ipsam a eum nisi quibusdam voluptatum reprehenderit reiciendis? Natus facere aliquam voluptate nulla.
        
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maiores quasi expedita, velit, eum at, quas magni amet laborum voluptatem commodi? Libero, deserunt. Reiciendis ratione saepe esse soluta. Necessitatibus, ullam.
            Aliquid ratione deserunt alias provident. Quae numquam quis explicabo tempore praesentium cumque, eaque aperiam perferendis porro laboriosam nemo doloribus ex ipsa hic reiciendis id, error perspiciatis, quos vel! Laboriosam, quos.
            A t ipsa aspernatur ab velit sapiente repellendus, alias ullam sunt ex deserunt vitae hic inventore neque suscipit natus facilis quis adipisci. Id iusto omnis veritatis animi amet? Dolores, repudiandae ipsum.
            Similique eos in, quos modi voluptate reprehenderit odio molestias, maiores culpa excepturi numquam dignissimos fuga illo ducimus ipsum! Iste fugiat nesciunt quae nam incidunt! Praesentium amet vero illum libero nesciunt.
            Ipsam minima, corrupti aliquid delectus voluptates facilis et quibusdam magni laborum, facere doloremque dolorem. Hic omnis iusto porro maxime. Enim tempora eligendi molestiae officia expedita pariatur libero, maxime at optio!
            Sequi accusamus temporibus voluptatem eveniet blanditiis libero cum dolorum ea amet nam quae distinctio placeat expedita, iure ipsam a eum nisi quibusdam voluptatum reprehenderit reiciendis? Natus facere aliquam voluptate nulla.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maiores quasi expedita, velit, eum at, quas magni amet laborum voluptatem commodi? Libero, deserunt. Reiciendis ratione saepe esse soluta. Necessitatibus, ullam.
            Aliquid ratione deserunt alias provident. Quae numquam quis explicabo tempore praesentium cumque, eaque aperiam perferendis porro laboriosam nemo doloribus ex ipsa hic reiciendis id, error perspiciatis, quos vel! Laboriosam, quos.
            At ipsa aspernatur ab velit sapiente repellendus, alias ullam sunt ex deserunt vitae hic inventore neque suscipit natus facilis quis adipisci. Id iusto omnis veritatis animi amet? Dolores, repudiandae ipsum.
            Similique eos in, quos modi voluptate reprehenderit odio molestias, maiores culpa excepturi numquam dignissimos fuga illo ducimus ipsum! Iste fugiat nesciunt quae nam incidunt! Praesentium amet vero illum libero nesciunt.
            Ipsam minima, corrupti aliquid delectus voluptates facilis et quibusdam magni laborum, facere doloremque dolorem. Hic omnis iusto porro maxime. Enim tempora eligendi molestiae officia expedita pariatur libero, maxime at optio!
            Sequi accusamus temporibus voluptatem eveniet blanditiis libero cum dolorum ea amet nam quae distinctio placeat expedita, iure ipsam a eum nisi quibusdam voluptatum reprehenderit reiciendis? Natus facere aliquam voluptate nulla.

        </div>
    </div>
</div>














<%- include("partials/footer.ejs") %>