body {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    padding: 50px;
    
}



.detail {
    text-align: justify;
    height: auto;
   
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.notes {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-align: justify;
}

.form-group {
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    


    .container {
        width: 100%;
 
        
    }

    .detail {
        padding: 0 !important;
    }

    .notes {
        padding: 0 !important;
    }
}

